@model DeliveryManagement.Models.order_master

@{
    ViewBag.Title = "AddOrder";
}

<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Delivery Management</title>
		@*<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
		<meta name="author" content="JSOFT.net">*@

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="~/Content/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="~/Content/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="~/Content/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="~/Content/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
		<link rel="stylesheet" href="~/Content/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
		<link rel="stylesheet" href="~/Content/vendor/morris/morris.css" />




        <!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="~/Content/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
		<link rel="stylesheet" href="~/Content/vendor/select2/select2.css" />
		<link rel="stylesheet" href="~/Content/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
		<link rel="stylesheet" href="~/Content/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
		<link rel="stylesheet" href="~/Content/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
		<link rel="stylesheet" href="~/Content/vendor/bootstrap-timepicker/css/bootstrap-timepicker.css" />
		<link rel="stylesheet" href="~/Content/vendor/dropzone/css/basic.css" />
		<link rel="stylesheet" href="~/Content/vendor/dropzone/css/dropzone.css" />
		<link rel="stylesheet" href="~/Content/vendor/bootstrap-markdown/css/bootstrap-markdown.min.css" />
		<link rel="stylesheet" href="~/Content/vendor/summernote/summernote.css" />
		<link rel="stylesheet" href="~/Content/vendor/summernote/summernote-bs3.css" />
		<link rel="stylesheet" href="~/Content/vendor/codemirror/lib/codemirror.css" />
		<link rel="stylesheet" href="~/Content/vendor/codemirror/theme/monokai.css" />

		
		<!-- Theme CSS -->
		<link rel="stylesheet" href="~/Content/stylesheets/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="~/Content/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="~/Content/stylesheets/theme-custom.css">

		<!-- Head Libs -->
		<script src="~/Content/vendor/modernizr/modernizr.js"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="../" class="logo">
						<img src="~/Content/images/logo.png" height="35" alt="JSOFT Admin" />
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">
			
					
			
					<span class="separator"></span>
			
					<ul class="notifications">
						<li>
							<a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
								<i class="fa fa-tasks"></i>
								<span class="badge">3</span>
							</a>
			
							<div class="dropdown-menu notification-menu large">
								<div class="notification-title">
									<span class="pull-right label label-default">3</span>
									Tasks
								</div>
			
								<div class="content">
									<ul>
										<li>
											<p class="clearfix mb-xs">
												<span class="message pull-left">Generating Sales Report</span>
												<span class="message pull-right text-dark">60%</span>
											</p>
											<div class="progress progress-xs light">
												<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
											</div>
										</li>
			
										<li>
											<p class="clearfix mb-xs">
												<span class="message pull-left">Importing Contacts</span>
												<span class="message pull-right text-dark">98%</span>
											</p>
											<div class="progress progress-xs light">
												<div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
											</div>
										</li>
			
										<li>
											<p class="clearfix mb-xs">
												<span class="message pull-left">Uploading something big</span>
												<span class="message pull-right text-dark">33%</span>
											</p>
											<div class="progress progress-xs light mb-xs">
												<div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</li>
						
						
					</ul>
			
					<span class="separator"></span>
			
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
								<span class="name">John Doe Junior</span>
								<span class="role">administrator</span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fa fa-user"></i> My Profile</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="pages-signin.html"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title" style="color:#fff">
							Navigation
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav-active">
										<a href="~/Login/Index">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Dashboard</span>
										</a>
									</li>
									
									
									<li class="nav">
										<a href="~/Order/ViewOrder">
                                            <i class="fa fa-tasks" aria-hidden="true"></i>
											<span>Order Management</span>
										</a>										
									</li>
									<li class="nav">
										<a href="~/Driver/fetch">
											<i class="fa fa-list-alt" aria-hidden="true"></i>
											<span>Driver Management</span>
										</a>										
									</li>
									<li class="nav">
										<a>
											<i class="fa fa-table" aria-hidden="true"></i>
											<span>Tables</span>
										</a>										
									</li>
									
									
																		
								</ul>
							</nav>
				
							<hr class="separator" />
				
							
				
							<hr class="separator" />
											
						</div>
				
					</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Dashboard</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="index.html">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Dashboard</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					
					<!-- start: page -->
					
                    <div class="row">
							<div class="col-lg-12">
								<section class="panel">
									<header class="panel-heading">
										<div class="panel-actions">
											<a href="#" class="fa fa-caret-down"></a>
											<a href="#" class="fa fa-times"></a>
										</div>
						
										<h2 class="panel-title">Form Elements</h2>
									</header>
						                                                                
                                    
					<div class="panel-body">
										<form class="form-horizontal form-bordered" method="post" action="AddOrderSubmit">

											<div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">Mobile Number</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="mobileno" value="">
												</div>
											</div>

                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">Order Number</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="orderno" value="">
												</div>
											</div>

                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">PickUp Person</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="pickupperson" value="">
												</div>
											</div>

                                             <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">PickUp Person Contact</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="pickupcontact" value="">
												</div>
											</div>

                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">PickUp Item</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="pickupitem" value="">
												</div>
											</div>

                                            
                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">Delivery Person</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="deliveryperson" value="">
												</div>
											</div>

                                             <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">Delivery Person Number</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="deliverycontact" value="">
												</div>
											</div>

                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">PickUp Address</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="pickupaddress" value="">
												</div>
											</div>
                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">Delivery Address</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="deliveryaddress" value="">
												</div>
											</div>
                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">PickUp Message</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="pickupmessage1" value="">
												</div>
											</div>
                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">Billing Type</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="billingtype" value="">
												</div>
											</div>

                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">Bill TO Person</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="billto" value="">
												</div>
											</div>

                                            
                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">Delivery Charge</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="deliverycharge" value="">
												</div>
											</div>

                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">To Collect</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="tocollect" value="">
												</div>
											</div>

                                            <div class="form-group">
													<label class="col-md-3 control-label">Order Date</label>
													<div class="col-md-6">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-calendar"></i>
															</span>
															<input id="date" data-input-mask="99/99/9999" value="@DateTime.Now" name="orderdate" class="form-control">
														</div>
													</div>
												</div>
												
                                            <div class="form-group">
													<label class="col-md-3 control-label">Delivery Date</label>
													<div class="col-md-6">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-calendar"></i>
															</span>
															<input data-input-mask="99/99/9999" value="@DateTime.Now" name="deliverdate" class="form-control">
														</div>
													</div>
												</div>

                                            <div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">PickUp Area</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="pickuparea" value="">
												</div>
											</div><div class="form-group">
												<label class="col-md-3 control-label" for="inputDefault">Delivery Area</label>
												<div class="col-md-6">
													<input type="text" class="form-control" name="deliveryarea" value="">
												</div>
											</div>

                                            <div>
                                                <input type="hidden" name="isactive" value="true" />
                                            </div>

                                            <div class="form-group">
                                                <input class="btn btn-primary" type="submit" value="SUBMIT" />
                                            </div>



                                            </form>
                        </div>
						

                                    </section>
                                </div>
                        </div>







					
					
					<!-- end: page -->
				</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					
				</div>
			</aside>
		</section>

		<!-- Vendor -->
		<script src="~/Content/vendor/jquery/jquery.js"></script>
		<script src="~/Content/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="~/Content/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="~/Content/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="~/Content/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="~/Content/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="~/Content/vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="~/Content/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="~/Content/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="~/Content/vendor/jquery-appear/jquery.appear.js"></script>
		<script src="~/Content/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
		<script src="~/Content/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
		<script src="~/Content/vendor/flot/jquery.flot.js"></script>
		<script src="~/Content/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
		<script src="~/Content/vendor/flot/jquery.flot.pie.js"></script>
		<script src="~/Content/vendor/flot/jquery.flot.categories.js"></script>
		<script src="~/Content/vendor/flot/jquery.flot.resize.js"></script>
		<script src="~/Content/vendor/jquery-sparkline/jquery.sparkline.js"></script>
		<script src="~/Content/vendor/raphael/raphael.js"></script>
		<script src="~/Content/vendor/morris/morris.js"></script>
		<script src="~/Content/vendor/gauge/gauge.js"></script>
		<script src="~/Content/vendor/snap-svg/snap.svg.js"></script>
		<script src="~/Content/vendor/liquid-meter/liquid.meter.js"></script>
		<script src="~/Content/vendor/jqvmap/jquery.vmap.js"></script>
		<script src="~/Content/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
		<script src="~/Content/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
		<script src="~/Content/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
		<script src="~/Content/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
		<script src="~/Content/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
		<script src="~/Content/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
		<script src="~/Content/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
		<script src="~/Content/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="~/Content/javascripts/theme.js"></script>
		
		<!-- Theme Custom -->
		<script src="~/Content/javascripts/theme.custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="~/Content/javascripts/theme.init.js"></script>

        <script src="~/Content/vendor/jquery-autosize/jquery.autosize.js"></script>
		<script src="~/Content/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
		

        <script src="~/Content/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="~/Content/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="~/Content/vendor/select2/select2.js"></script>
		<script src="~/Content/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
		<script src="~/Content/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
		<script src="~/Content/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
		<script src="~/Content/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
		<script src="~/Content/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
		<script src="~/Content/vendor/fuelux/js/spinner.js"></script>
		<script src="~/Content/vendor/dropzone/dropzone.js"></script>
		<script src="~/Content/vendor/bootstrap-markdown/js/markdown.js"></script>
		<script src="~/Content/vendor/bootstrap-markdown/js/to-markdown.js"></script>
		<script src="~/Content/vendor/bootstrap-markdown/js/bootstrap-markdown.js"></script>
		<script src="~/Content/vendor/codemirror/lib/codemirror.js"></script>
		<script src="~/Content/vendor/codemirror/addon/selection/active-line.js"></script>
		<script src="~/Content/vendor/codemirror/addon/edit/matchbrackets.js"></script>
		<script src="~/Content/vendor/codemirror/mode/javascript/javascript.js"></script>
		<script src="~/Content/vendor/codemirror/mode/xml/xml.js"></script>
		<script src="~/Content/vendor/codemirror/mode/htmlmixed/htmlmixed.js"></script>
		<script src="~/Content/vendor/codemirror/mode/css/css.js"></script>
		<script src="~/Content/vendor/summernote/summernote.js"></script>
		<script src="~/Content/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
		<script src="~/Content/vendor/ios7-switch/ios7-switch.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="~/Content/javascripts/theme.js"></script>
		

		<!-- Examples -->
		<script src="~/Content/javascripts/dashboard/examples.dashboard.js"></script>
	</body>
</html>



































































@*<h2>AddOrder</h2>

<form method="post" action="AddOrderSubmit">

    <div>
        <label>Mobile Number</label>
        <input type="text" name="mobileno" value="" />
    </div>
    <div>
        <label>Order Number</label>
        <input type="text" name="orderno" value="" />
    </div>
    <div>
        <label>PickUp Person</label>
        <input type="text" name="pickupperson" value="" />
    </div>
    <div>
        <label>Pickup person Number</label>
        <input type="text" name="pickupcontact" value="" />
    </div>
    <div>
        <label>Pickup Item</label>
        <input type="text" name="pickupitem" value="" />
    </div>
    <div>
        <label>Delivery Person</label>
        <input type="text" name="deliveryperson" value="" />
    </div>
    <div>
        <label>Delivery Person Number</label>
        <input type="text" name="deliverycontact" value="" />
    </div>
    <div>
        <label>PickUp Address</label>
        <input type="text" name="pickupaddress" value="" />
    </div>
    <div>
        <label>Delivery Address</label>
        <input type="text" name="deliveryaddress" value="" />
    </div>
    <div>
        <label>PickUp Message</label>
        <input type="text" name="pickupmessage1" value="" />
    </div>
    <div>
        <label>Billing Type</label>
        <input type="text" name="billingtype" value="" />
    </div>
    <div>
        <label>Bill To Number</label>
        <input type="text" name="billto" value="" />
    </div>
    <div>
        <label>Delivery Charge</label>
        <input type="text" name="deliverycharge" value="" />
    </div>
    <div>
        <label>To Collect</label>
        <input type="text" name="tocollect" value="" />
    </div>
    <div>
        <label>Order Date</label>
        <input type="text" name="orderdate" value="@DateTime.Now" />
    </div>
    <div>
        <label>Deliver Date</label>
        <input type="text" name="deliverdate" value="@DateTime.Now" />
    </div>
    <div>
        <label>Pickup Area</label>
        <input type="text" name="pickuparea" value="" />
    </div>
    <div>
        <label>Deliver Area</label>
        <input type="text" name="deliveryarea" value="" />
    </div>
    <div>
        
        <input type="hidden" name="isactive" value="true" />
    </div>
    <div>
        <input type="submit" name="submit" value="SUBMIT" />
    </div>

</form>*@